// Animations keyframes
@keyframes fade
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes fade-in
	0%
		opacity: 0
		transform: scale(0.9)
	100%
		opacity: 1
		transform: none

@keyframes fade-out
	0%
		opacity: 0
		transform: scale(1.1)
	100%
		opacity: 1
		transform: none

@keyframes fade-down
	0%
		opacity: 0
		transform: translateY(8px)
	100%
		opacity: 1
		transform: none

@keyframes fade-up
	0%
		opacity: 0
		transform: translateY(-8px)
	100%
		opacity: 1
		transform: none

// Vue transitions
.fade-enter-active
	animation: fade .2s
.fade-leave-active
	animation: fade .2s reverse

.fade-in-enter-active
	animation: fade-in .2s
.fade-in-leave-active
	animation: fade-in .2s reverse

.fade-out-enter-active
	animation: fade-out .2s
.fade-out-leave-active
	animation: fade-out .2s reverse

.fade-down-enter-active
	animation: fade-down .2s
.fade-down-leave-active
	animation: fade-down .2s reverse

.fade-up-enter-active
	animation: fade-up .2s
.fade-up-leave-active
	animation: fade-up .2s reverse

.fade-go-enter-active
	animation: fade-out .2s
.fade-go-leave-active
	animation: fade-in .2s reverse

.fade-come-enter-active
	animation: fade-in .2s
.fade-come-leave-active
	animation: fade-out .2s reverse