/* 
	Element display and sizes stylesheet
 */
.d-block
	display: block
.d-inline
	display: inline
.d-inlineblock
	display: inline-block
.d-flex
	display: flex

	&.row
		flex-direction: row
	&.column
		flex-direction: column
	&.start
		justify-content: flex-start
	&.center
		justify-content: center
	&.end
		justify-content: flex-end
	&.between
		justify-content: space-between
	&.around
		justify-content: space-around

	&.stretch
		align-items: stretch
	&.top
		align-items: flex-start
	&.middle
		align-items: center
	&.bottom
		align-items: flex-end
	&.baseline
		align-items: baseline

// Sizes
.s-xs
	width: 0.5em
	height: 0.5em
.s-1
.s-s
	width: 1em
	height: 1em
.s-m
	width: 1.6em
	height: 1.6em
.s-2
	width: 2em
	height: 2em
.s-l
	width: 2.5em
	height: 2.5em
.s-3
	width: 3em
	height: 3em
.s-4
.s-xl
	width: 4em
	height: 4em
.s-5
	width: 5em
	height: 5em
.s-fill
	width: 100%
	height: 100%
.s-half
	width: 50%
	height: 50%

.w-xs
	width: 0.5em
.w-1
.w-s
	width: 1em
.w-m
	width: 1.6em
.w-2
	width: 2em
.w-l
	width: 2.5em
.w-3
	width: 3em
.w-4
.w-xl
	width: 4em
.w-5
	width: 5em
.w-fill
	width: 100%
.w-half
	width: 50%

.h-xs
	height: 0.5em
.h-1
.h-s
	height: 1em
.h-m
	height: 1.6em
.h-2
	height: 2em
.h-l
	height: 2.5em
.h-3
	height: 3em
.h-4
.h-xl
	height: 4em
.h-5
	height: 5em
.h-fill
	height: 100%
.h-half
	height: 50%

// Container
container()
	position: relative
	
	margin-left: auto
	margin-right: auto
.container-tablet
	max-width: 600px
	container()
.container-desktop
	max-width: 1280px
	container()
.container-fullhd
	max-width: 1920px
	container()