/* 
	Margin and padding controllers
 */
// Padding
.pad-xs
	padding: 0.2em
.pad-s
	padding: 0.4em
.pad-m
	padding: 0.8em
.pad-1
	padding: 1em
.pad-l
	padding: 1.5em
.pad-2
	padding: 2em
.pad-xl
	padding: 2.5em
.pad-3
	padding: 3em

.pad-s-m
	padding: 0.6em 0.8em
.pad-s-1
	padding: 0.6em 1em
.pad-m-1
	padding: 0.8em 1em