/* 
	Image stylesheet
 */
.bg-cover
	background-size: cover
.bg-contain
	background-size: contain
.bg-center
	background-position: center center
.bg-default
	background-size: cover
	background-position: center center
		