/* 
	Keypad stylesheet
 */
.keypad
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-template-rows: repeat(4, 1fr)
	grid-gap: 0.5em

	text-align: center
	vertical-align: middle

	& > .key
		cursor: pointer