/* 
	Notification stylesheet
 */
.notification-container
	display: flex

	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 1050

	pointer-events: none

	& > .notification
		position: relative

		padding-right: 2em

		color: light

		pointer-events: auto

		&.info
			background-color: info
		&.success
			background-color: success
		&.error
			background-color: error
		&.warning
			background-color: warning

		& > .message
			display: inline-block

			vertical-align: middle
			
		& > .close
			display: inline-block
			position: absolute
			top: 0
			right: 0

			padding: 0.5em

			vertical-align: middle

			cursor: pointer