/* 
	Notification stylesheet
 */
.notification
	position: fixed
	left: 0
	top: 0

	color: light

	&.info
		background-color: info
	&.success
		background-color: success
	&.error
		background-color: error
	&.warning
		background-color: warning

	.message
		display: inline-block
		vertical-align: middle
		
	.close
		display: inline-block
		vertical-align: middle
		cursor: pointer