/* 
	Position stylesheet
 */
.center
	display: flex
	justify-content: center
	align-items: center

	&.fill
		width: 100%
		height: 100%
	
	&.stretch
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0