/* 
	Position stylesheet
 */
.position
	display: flex
	justify-content: center
	align-items: center

	&.fill
		width: 100%
		height: 100%
	&.stretch
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0

		// Pointer events disabled for container
		pointer-events: none
	&.fixed
		position: fixed

	// Restore child pointer events
	& > *
		pointer-events: visible