/*
	Global variables
 */
// Font
fontSize	= 16
fontSans	= "IBM Plex Sans"
fontMono	= "IBM Plex Mono"

// Colors
light		= whitesmoke
lighter		= lighten(light, 10)
lightish	= darken(light, 10)
dark		= #345
darker		= darken(dark, 10)
darkish		= lighten(dark, 10)
primary		= indianred
secondary	= cornflowerblue
info		= slategrey
success		= lightgreen
error		= indianred
warning		= lightcoral

// Media width
phone		= 600
tablet		= 800
desktop		= 1366
fullhd		= 1920
ultrahd		= 2560