// Font color
.c-light
	color: light
.c-lighter
	color: lighter
.c-lightish
	color: lightish
body, html
.c-dark
	color: dark
.c-darker
	color: darker
.c-darkish
	color: darkish
.c-primary
	color: primary
.c-secondary
	color: secondary
.c-info
	color: info
.c-success
	color: success
.c-error
	color: error
.c-warning
	color: warning

// Background color
.bg-light
	background-color: light
.bg-lighter
	background-color: lighter
.bg-lightish
	background-color: lightish
.bg-dark
	background-color: dark
.bg-darker
	background-color: darker
.bg-darkish
	background-color: darkish
.bg-primary
	background-color: primary
.bg-secondary
	background-color: secondary
.bg-info
	background-color: info
.bg-success
	background-color: success
.bg-error
	background-color: error
.bg-warning
	background-color: warning