// Padding
.pad-0
	padding: 0
.pad-xs
	padding: 0.2em
.pad-s
	padding: 0.4em
.pad-m
	padding: 0.8em
.pad-1
	padding: 1em
.pad-l
	padding: 1.5em
.pad-2
	padding: 2em
.pad-xl
	padding: 2.5em
.pad-3
	padding: 3em
.pad-4
	padding: 4em
.pad-5
	padding: 5em
.pad-6
	padding: 6em
.pad-8
	padding: 8em
.pad-10
	padding: 10em
.pad-12
	padding: 12em
.pad-15
	padding: 15em
.pad-16
	padding: 16em
.pad-20
	padding: 20em
.pad-32
	padding: 32em

.pad-xs-s
	padding: 0.2em 0.4em
.pad-s-m
	padding: 0.4em 0.8em
.pad-s-1
	padding: 0.4em 1em
.pad-m-1
	padding: 0.8em 1em
.pad-m-l
	padding: 0.8em 1.5em

// Margin
.mar-0
	margin: 0

.mar-xs-0
	margin: 0.2em 0
.mar-s-0
	margin: 0.4em 0
.mar-m-0
	margin: 0.8em 0
.mar-1-0
	margin: 1em 0
.mar-l-0
	margin: 1.5em 0
.mar-2-0
	margin: 2em 0
.mar-xl-0
	margin: 2.5em 0

// Border radius
.round-xs
	border-radius: 0.2em
.round-s
	border-radius: 0.4em
.round-m
	border-radius: 0.7em
.round-1
	border-radius: 1em
.round-l
	border-radius: 1.5em
.round-2
	border-radius: 2em
.round-xl
	border-radius: 2.5em

// Box sizing
.box-content
	box-sizing: content-box
.box-border
	box-sizing: border-box