// Material design
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
.icon-md
	font-family: "Material Icons", fontSans, Arial, Helvetica, sans-serif

// FA5 (Webfont)
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css')