// Import all styles
@import './styles/animation'
@import './styles/button'
@import './styles/color'
@import './styles/display'
@import './styles/frame'
@import './styles/icon'
@import './styles/text'