// Font
fontSize	= 16
fontSerif	= "IBM Plex Serif"
fontSans	= "IBM Plex Sans"
fontMono	= "IBM Plex Mono"
fontHand	= "Satisfy"

// Colors
light		= whitesmoke
lighter		= lighten(light, 10)
lightish	= darken(light, 10)
dark		= #345
darker		= darken(dark, 10)
darkish		= lighten(dark, 10)
primary		= indianred
secondary	= cornflowerblue
info		= slategrey
success		= lightgreen
error		= indianred
warning		= lightcoral

// Media width
media-phone-min		= 1
media-tablet-min	= 641
media-desktop-min	= 1281
media-fullhd-min	= 1921
media-ultrahd-min	= 2561

media-phone-max		= 640
media-tablet-max	= 1280
media-desktop-max	= 1920
media-fullhd-max	= 2560
media-ultrahd-max	= Infinity